.wishlist-page {
	&__inner {
		padding: 30px 0;
	}
}

.wishlist-products {
	display: flex;
	flex-direction: column;
	gap: 20px;

	&__product {
		display: grid;
		grid-template-columns: 200px 1fr 1fr;
		align-items: center;
		gap: 30px;
		@media screen and (max-width: 768px) {
			grid-template-columns: repeat(3, 1fr);
			align-items: center;
			.product-card__bottom {
				grid-column: 3 span;
			}
			.product-card__top {
				grid-column: 2 span;
				@media screen and (max-width: 500px) {
					grid-column: 3 span;
				}
			}
			.product-card__image {
				height: 300px;
			}
		}
		.product-card__image {
			height: 200px;
		}
		.product-card__bottom {
			flex-direction: row;
		}
	}
}
